<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My Book List</title>
  </head>
  <body>
    <h1><%= @title%> (<%=@isbn%>)</h1>
              <p>by <%=@author%></p>
              <ul>
                <% @description.each do |item| %>
                  <li><%=item%></li>
                <% end %>
              </ul>

              <p>only $<%=@price%>
  </body>
</html>
